*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

:root{
    --lightPrimary : #A5D7E8;
    --lightSecondary : #576CBC;
    --darkPrimary : #0B2447;
    --darkSecondary : #19376D;
    --focusLight : #F7DB6A;
    --focusDark : #EBB02D;
    --bgLight: #d0eef8;
    --verified: #b4ff89;
    --invalid: #ff8080;
    --lightGray: #7a7a7a;

    --fontXSmall : 12px;
    --fontSmall : 18px;
    --fontMedium : 24px;
    --fontLarge : 28px;
    --fontXLarge : 34px;

}

a , a:valid , a:active{
    text-decoration: none;
    color: inherit;
}

.Mount{
    padding-top: 4rem;
    min-height: 100vh;
    background-color: var(--bgLight);
}