.navParent{
    display: flex;
    width: calc(100% - 4rem);
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--darkPrimary);
    color: var(--lightSecondary);
    font-size: var(--fontSmall);
    align-items: center;
    position: fixed;
}

.rightDiv{
    display: flex;
    gap: 20px;
    align-items: center;
}

.navLink{
    padding: 5px 10px;
    cursor: pointer;
}

.navLink:hover{
    color: var(--focusLight);
}

.SignIn{
    padding: 5px 20px;
    border: 2px solid var(--lightSecondary);
    border-radius: 20px;
}

.SignIn:hover{
    border-color: var(--focusLight);
}