:root{
    --lightPrimary : #A5D7E8;
    --lightSecondary : #576CBC;
    --darkPrimary : #0B2447;
    --darkSecondary : #19376D;
    --focusLight : #F7DB6A;
    --focusDark : #EBB02D;
    --bgLight: #d0eef8;
    --verified: #b4ff89;
    --invalid: #ff8080;
    --lightGray: #5a5a5a;

    --fontXSmall : 12px;
    --fontSmall : 18px;
    --fontMedium : 24px;
    --fontLarge : 28px;
    --fontXLarge : 34px;
}


.SignUpParent{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 4rem);
    background-color: var(--bgLight);
}

.SignUpParent .wrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: aliceblue;
    height: 800px;
    aspect-ratio: 4/5;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-radius: 20px;
}

.SignUpParent .right , .SignUpParent .signUpForm{
    display: flex;
    flex-direction: column;
    flex: 1 0 250px;
    gap: 20px;
    position: relative;
}

.SignUpParent .left{
    flex: 1 0 50px;
    background-color: var(--lightSecondary);
    color: var(--lightPrimary);
}

.SignUpParent .left , .SignUpParent .right{
    height: calc(100% - 20px);
    border-radius: 20px;
    padding: 10px 10px;
}
.signUpForm div{
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
    padding: 0px 30px;
    gap: 5px;
    color: var(--darkPrimary);
    font-size: var(--fontSmall);
}
.signUpForm .title{
    font-size: var(--fontXLarge);
    align-items: center;
}

.signUpForm input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid var(--darkPrimary);
    padding: 5px 0px;
    font-size: var(--fontSmall);
}

.signUpForm input:focus{
    outline: none;
}

.signUpForm .submit{
    display: flex;
    align-items: center;
}

.signUpForm button{
    width: 200px;
    height: 40px;
    border: 0;
    background-color: var(--darkPrimary);
    color: var(--lightPrimary);
    font-size: var(--fontSmall);
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 0px var(--lightSecondary);
    transition: all .5s;
}

.signUpForm button:hover{
    box-shadow: 0px 10px 10px var(--lightSecondary);
}

.signUpForm .verified{
    background-color: var(--verified);
    color: var(--darkSecondary);
}

.signUpForm .invalid{
    background-color: var(--invalid);
    color: var(--darkPrimary);
}

.signUpForm .etc{
    font-size: var(--fontXSmall);
    color: var(--lightGray);
    position: absolute;
    bottom: 0;
}

.signUpForm .etc a{
    color: var(--darkPrimary);
    font-weight: bold;
}

.signUpForm .strength{
    flex-direction: row;
    color: var(--lightGray);
}
.signUpForm .strengthAnnote{
    flex-direction: column;
    color: var(--lightGray);
    gap: 0;
    font-size: var(--fontXSmall);
}